@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #43a0ec;
  --shadow-color: #2096f7;
  --secondary-color: #b7beee;
}

/* .btn {
  background: linear-gradient(
    92.23deg,
    var(--primary-color) 21.43%,
    var(--secondary-color) 50.63%,
    var(--shadow-color) 100%,
    var(--secondary-color) 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px var(--shadow-color);
} */

/* .btn:hover {
  background: linear-gradient(
    92.23deg,
    var(--secondary-color) 21.43%,
    var(--shadow-color) 50.63%,
    var(--secondary-color) 100%,
    var(--primary-color) 117.04%
  );
} */

/* .gradient,
.active {
  background: linear-gradient(
    92.23deg,
    var(--secondary-color) 21.43%,
    var(--shadow-color) 50.63%,
    var(--secondary-color) 100%,
    var(--primary-color) 117.04%
  );
} */
/* 
.active {
  color: #f0f0f0;
  padding: 1rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
} */

@layer base {
  body {
    @apply text-lg leading-8 text-[#2096f7] font-secondary;
  }
  .h2 {
    @apply font-primary text-3xl mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-secondary font-semibold text-2xl mb-6 leading-[46px];
  }
  .btn {
    @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
  }
  .btn-sm {
    @apply h-10 px-6 text-sm;
  }
  .btn-lg {
    @apply h-12 px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg;
  }
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
  .active {
    @apply text-blue-400 transition-all duration-500 rounded-full bg-gradient-to-r from-slate-50 to-indigo-50;
  }
}
